name: DevOps Cloud Engineer Lab

on:
  push:
    branches:
      - main

permissions:
    id-token: write
    contents: read

jobs:
    devops-cloub-engineer-lab-build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Azure login
              uses: azure/login@v1
              with:
                  client-id: ${{ secrets.AZURE_CLIENT_ID }}
                  tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                  subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                  
            - name: Create Resource Group
              id: rg
              uses: azure/arm-deploy@v1
              with:
                scope: subscription
                region: westeurope
                deploymentName: rg-${{ github.run_number }}
                template: ./modules/resourceGroup/main.bicep

            - name: Deploy Vnet
              id: vnet
              uses: azure/arm=deploy@v1
              with:
                scope: resourcegroup
                resourceGroupName: ${{ steps.rg.outputs.resourceGroupName }}
                region: westeurope
                deploymentName: vnet-${{ github.run_number }}
                template: ./modules/networking/main.bicep
